*.exe
*.out
*.o
*.obj

.vscode/

*.log
*.tmp

Arrays/*
!Arrays/*.cpp

Heap/*
!Heap/*.cpp

Recursion/*
!Recursion/*.cpp

Sliding_Window/*
!Sliding_Window/*.cpp

Greedy/*
!Greedy/*.cpp

Binary_Trees/*
!Binary_Trees/*.cpp

Strings/*
!Strings/*.cpp